openapi: 3.1.0
info:
  title: HERE Geocoding & Search API v7 Batch Jobs API
  description: 'HERE Geocoding & Search API v7 — including batch processing (Batch API v7).

    Generated best-effort from public docs at

    https://docs.here.com/geocoding-and-search/.

    '
  version: 7.0.0
  contact:
    name: HERE Technologies
    url: https://www.here.com/developer
servers:
- url: https://geocode.search.hereapi.com/v1
  description: Geocoding & Search (real-time)
- url: https://batch.geocoder.ls.hereapi.com/6.2
  description: Batch Geocoder (legacy)
- url: https://batch.search.hereapi.com/v7
  description: Batch API v7
security:
- apiKey: []
- bearerAuth: []
tags:
- name: Batch Jobs
paths:
  /jobs:
    get:
      tags:
      - Batch Jobs
      summary: List batch jobs
      servers:
      - url: https://batch.search.hereapi.com/v7
      responses:
        '200':
          description: OK
    post:
      tags:
      - Batch Jobs
      summary: Create a batch job
      servers:
      - url: https://batch.search.hereapi.com/v7
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: Job accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
    delete:
      tags:
      - Batch Jobs
      summary: Delete multiple jobs
      servers:
      - url: https://batch.search.hereapi.com/v7
      responses:
        '204':
          description: Deleted
  /jobs/{jobId}:
    get:
      tags:
      - Batch Jobs
      summary: Get a job's status
      servers:
      - url: https://batch.search.hereapi.com/v7
      parameters:
      - $ref: '#/components/parameters/JobId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
    delete:
      tags:
      - Batch Jobs
      summary: Delete a specific job
      servers:
      - url: https://batch.search.hereapi.com/v7
      parameters:
      - $ref: '#/components/parameters/JobId'
      responses:
        '204':
          description: Deleted
  /jobs/{jobId}/start:
    put:
      tags:
      - Batch Jobs
      summary: Start a job
      servers:
      - url: https://batch.search.hereapi.com/v7
      parameters:
      - $ref: '#/components/parameters/JobId'
      responses:
        '200':
          description: Started
  /jobs/{jobId}/stop:
    put:
      tags:
      - Batch Jobs
      summary: Stop a job
      servers:
      - url: https://batch.search.hereapi.com/v7
      parameters:
      - $ref: '#/components/parameters/JobId'
      responses:
        '200':
          description: Stopped
  /jobs/{jobId}/results:
    get:
      tags:
      - Batch Jobs
      summary: Retrieve job results
      servers:
      - url: https://batch.search.hereapi.com/v7
      parameters:
      - $ref: '#/components/parameters/JobId'
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /jobs/{jobId}/errors:
    get:
      tags:
      - Batch Jobs
      summary: Retrieve job errors
      servers:
      - url: https://batch.search.hereapi.com/v7
      parameters:
      - $ref: '#/components/parameters/JobId'
      responses:
        '200':
          description: OK
components:
  schemas:
    Job:
      type: object
      properties:
        requestId:
          type: string
        status:
          type: string
          enum:
          - accepted
          - running
          - completed
          - failed
          - cancelled
        statusUrl:
          type: string
          format: uri
        totalCount:
          type: integer
        processedCount:
          type: integer
  parameters:
    JobId:
      name: jobId
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    apiKey:
      type: apiKey
      in: query
      name: apiKey
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
