openapi: 3.1.0
info:
  title: HERE Geocoding & Search API v7
  description: |
    HERE Geocoding & Search API v7 — including batch processing (Batch API v7).
    Generated best-effort from public docs at
    https://docs.here.com/geocoding-and-search/.
  version: "7.0.0"
  contact:
    name: HERE Technologies
    url: https://www.here.com/developer
servers:
  - url: https://geocode.search.hereapi.com/v1
    description: Geocoding & Search (real-time)
  - url: https://batch.geocoder.ls.hereapi.com/6.2
    description: Batch Geocoder (legacy)
  - url: https://batch.search.hereapi.com/v7
    description: Batch API v7
security:
  - apiKey: []
  - bearerAuth: []
tags:
  - name: Geocode
  - name: Reverse Geocode
  - name: Batch Jobs
  - name: Notifications
  - name: Health
paths:
  /geocode:
    get:
      tags: [Geocode]
      summary: Geocode an address
      parameters:
        - name: q
          in: query
          schema: { type: string }
        - name: qq
          in: query
          schema: { type: string }
        - name: at
          in: query
          schema: { type: string }
        - name: in
          in: query
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, default: 20 }
        - name: lang
          in: query
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SearchResponse" }
  /revgeocode:
    get:
      tags: [Reverse Geocode]
      summary: Reverse geocode coordinates
      parameters:
        - name: at
          in: query
          required: true
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, default: 1 }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SearchResponse" }
  /jobs:
    get:
      tags: [Batch Jobs]
      summary: List batch jobs
      servers:
        - url: https://batch.search.hereapi.com/v7
      responses:
        "200":
          description: OK
    post:
      tags: [Batch Jobs]
      summary: Create a batch job
      servers:
        - url: https://batch.search.hereapi.com/v7
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        "200":
          description: Job accepted
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Job" }
    delete:
      tags: [Batch Jobs]
      summary: Delete multiple jobs
      servers:
        - url: https://batch.search.hereapi.com/v7
      responses:
        "204":
          description: Deleted
  /jobs/{jobId}:
    get:
      tags: [Batch Jobs]
      summary: Get a job's status
      servers:
        - url: https://batch.search.hereapi.com/v7
      parameters:
        - $ref: "#/components/parameters/JobId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Job" }
    delete:
      tags: [Batch Jobs]
      summary: Delete a specific job
      servers:
        - url: https://batch.search.hereapi.com/v7
      parameters:
        - $ref: "#/components/parameters/JobId"
      responses:
        "204":
          description: Deleted
  /jobs/{jobId}/start:
    put:
      tags: [Batch Jobs]
      summary: Start a job
      servers:
        - url: https://batch.search.hereapi.com/v7
      parameters:
        - $ref: "#/components/parameters/JobId"
      responses:
        "200":
          description: Started
  /jobs/{jobId}/stop:
    put:
      tags: [Batch Jobs]
      summary: Stop a job
      servers:
        - url: https://batch.search.hereapi.com/v7
      parameters:
        - $ref: "#/components/parameters/JobId"
      responses:
        "200":
          description: Stopped
  /jobs/{jobId}/results:
    get:
      tags: [Batch Jobs]
      summary: Retrieve job results
      servers:
        - url: https://batch.search.hereapi.com/v7
      parameters:
        - $ref: "#/components/parameters/JobId"
      responses:
        "200":
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /jobs/{jobId}/errors:
    get:
      tags: [Batch Jobs]
      summary: Retrieve job errors
      servers:
        - url: https://batch.search.hereapi.com/v7
      parameters:
        - $ref: "#/components/parameters/JobId"
      responses:
        "200":
          description: OK
  /notifications:
    get:
      tags: [Notifications]
      summary: List notifications
      servers:
        - url: https://batch.search.hereapi.com/v7
      responses:
        "200":
          description: OK
    post:
      tags: [Notifications]
      summary: Create a notification subscription
      servers:
        - url: https://batch.search.hereapi.com/v7
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                target: { type: string, format: uri }
                event: { type: string }
      responses:
        "201":
          description: Created
  /health:
    get:
      tags: [Health]
      summary: Service health
      servers:
        - url: https://batch.search.hereapi.com/v7
      responses:
        "200":
          description: OK
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: query
      name: apiKey
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    JobId:
      name: jobId
      in: path
      required: true
      schema: { type: string }
  schemas:
    Job:
      type: object
      properties:
        requestId: { type: string }
        status: { type: string, enum: [accepted, running, completed, failed, cancelled] }
        statusUrl: { type: string, format: uri }
        totalCount: { type: integer }
        processedCount: { type: integer }
    SearchResponse:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              title: { type: string }
              id: { type: string }
              address:
                type: object
                properties:
                  label: { type: string }
              position:
                type: object
                properties:
                  lat: { type: number }
                  lng: { type: number }
